# IDE
.vscode

# Django-Python
.venv
env
static/

# Vue.js
node_modules
npm-debug.log

# Docker
Dockerfile*
docker-compose*
.dockerignore

# git
.git
.gitignore

# ETC
README.md
LICENSE
.DS_Store

# github
images/
.github/